<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <!-- <link rel="stylesheet" href="signup.css"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/signup.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Playfair+Display:wght@500;700&display=swap" rel="stylesheet">
</head>
<body>

<div class="container">
    <h2>Sign Up</h2>

    <!-- Sign-Up Form -->
    <form id="signUpForm" method="post" action="{{ url_for('signup') }}">
        <input type="text" id="name" name="name" placeholder="Full Name" required>
        <input type="email" id="email" name="email" placeholder="Email Address" required>
        <input type="text" id="username" name="username" placeholder="Username" required>
        <input type="password" id="password" name="password" placeholder="Create Password" required>
        <input type="password" id="confirmpassword" name="confirmpassword" placeholder="Confirm Password" required>
        <div class="error-message" id="passwordError">Passwords do not match!</div>
        <button type="submit">Sign Up</button>
    </form>

    <!-- Link to Login page -->
    <a class="toggle-link" href="/login">Already have an account? Login</a>
</div>
<!-- <script src="{{ url_for('static', filename='js/signup.js') }}"></script> -->


</body>
</html>
